body {
  color: #666666;
}

.top50 {
  margin-top: 50px;
}
.pic-page-game {
  border-radius: 50%;
  width: 300px;
  /* Evita que la imagen se estire si no es cuadrada */
  height: 300px;
  object-fit: cover;
}

.margenes50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
